# Segredos e Ambiente
.env
.env.*.local

# Dependências (caso alguém rode npm install na raiz por engano)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional
.DS_Store
Thumbs.db